<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/hospital.png') }}" type="image/x-icon">
</head>
<body>
    {% if role=='pac' %}
    <nav class='navbar'>
        <a href="{{ url_for('paciente.home')}}">Minhas consultas</a>
    </nav>
    {% elif role=='med' %}
    <nav class='navbar'>
        <a href="{{ url_for('medico.home')}}">Minhas consultas</a>
        <a href="{{ url_for('medico.perfil')}}">Meu perfil</a>

    </nav>
    {% endif %}
    <main class="main">
        {% block body %}{% endblock %}
    </main>
</body>
</html>