{% extends "base/index.html" %}
{% block body %}
<section class="content">
    <form action='{{url_for("medico.alterar_horarios")}}' method='POST' class="alterar-horarios-form">
        <h1>Horários disponíveis</h1>
        <ul class="horarios-list">
            {% for horario in todos_horarios %}
            <li class="form-group">
            {% if horario in medico.horarios %}
                <input type="checkbox" name="alterar_horarios" id="{{horario}}" value="{{horario}}" checked>
            
            {% else %}
                <input type="checkbox" name="alterar_horarios" id="{{horario}}" value="{{horario}}">
            {% endif %}
            <label for="{{horario}}">{{horario}}</label><br>
        </li>
        {% endfor %}
        </ul>
        <div class="botoes">
            <button type="submit" class='btn'>Salvar</button>
            <a href="{{ url_for('medico.perfil') }}" class='link-btn'>Voltar</a>
        </div>
    </form>
</section>

{% endblock body %}