{% extends "base/index.html" %}
{% block body %}
<section class="content">
    <h1>Detalhes da consulta</h1>
    <div class="detalhes-consulta">

        <h3 class='consulta-detalhe nome-paciente'>Paciente: {{consulta.paciente}}</h3>
        <p class='consulta-detalhe descricao'>
            {% if consulta.descricoes %}
            {{consulta.descricoes}}
            {% else %}
            Sem descrição.
            {% endif %}
        </p>
        <h5 class='consulta-detalhe nota' >Nota: 
            {% if consulta.nota > 0 %}
            {{consulta.nota}}
            {% else %}
            Sem nota atribuída
            {% endif %}
        </h5>
        <h5 class='consulta-detalhe data'>{{consulta.data}}</h5>
        <h3>Prescrições</h5>
            <h5>Medicamentos:</h5>
            <ul>
                {% for prescricao in consulta.prescricoes %}
                <li>{{prescricao.nome_composto_medicamento}}</li>
                {% endfor %}
            </ul>
            <h5>Observacao: 
            {% if consulta.prescricoes %}
            {{consulta.prescricoes[0].observacao}}
            {% endif %}
        </h5>
        <div class="botoes">
            <a href="{{ url_for('medico.criar_prescricao', id_consulta = consulta.id) }}" class='link-btn fazer-prescricao-btn'>Fazer prescrição</a>
            <a href="{{ url_for('medico.home') }}" class='link-btn fazer-prescricao-btn'>Voltar</a>
        </div>
    </div>  
</section>
{% endblock %}