{% extends "base/index.html" %}
{% block body %}
<section class='secao-consultas'>
        <h1>Suas consultas</h1>
    <ul class="secao-de-consultas">
        <li class="li header-consulta-li ">  
            <span class="consulta-paciente">Paciente</span>
            <span class="consulta-descricoes">Descrição(s)</span>
            <span class="consulta-medico">Médico</span>
            <span class="consulta-data">Data</span>

        </li>
        {% for consulta in consultas %}
        <a href="{{ url_for('medico_consulta', id_consulta=consulta.id) }}" class="card-consulta-btn"> 
            <li class='li card-consulta-li' >{% include "medico/partials/_card_consulta.html" %}</li>
            </a>
        {% endfor %}
    </ul>
</section>
{% endblock %}