{% extends "base/index.html" %}
{% block body %}
<section class="prescricao-section">
    <h1>Prescrição para {{consulta.paciente.nome}}</h1>
<form class='form form-pesquisa-med' id='form-pesquisa-med'>
    <!--<label for="input-pesquisa-med">Busque um medicamento</label>-->
    {% if request.args.get('q') %}
    <input class='input-pesquisa' placeholder='pesquise: ex dipirona...' type="text" name="q" id='input-pesquisa-med' value="{{request.args.get('q')}}" autofocus>
    {% else %}
    <input class='input-pesquisa' placeholder='pesquise: ex dipirona...' type="text" name="q" id='input-pesquisa-med' value="" autofocus>
    {% endif %}
    <!---- <button type="submit">pesquisar</button> -->
</form>
<form action="{{ url_for('medico.criar_prescricao', id_consulta=consulta.id) }}" method='POST' class="form form-prescricao">
        <div class="meds-lista">
            {% for medicamento in medicamentos %}
            <div>
                <input type="checkbox" name="medicamento" id="{{medicamento.nome_do_composto}}" value="{{medicamento.nome_do_composto}}">
                <label for="{{medicamento.nome_do_composto}}">{{medicamento.nome_do_composto}}</label>
            </div>
        {% endfor %}
        </div>
        <br>
    <label for="observacoes-text-area">Observações</label> <br>
    <textarea rows="4" name="observacao" id="observacoes-text-area" placeholder='ex: 3 vezes por dia, 8 em 8 horas...'></textarea>
    <br>
    <div class="botoes presc-form">
        <button type="submit" class='btn'>Prescrever</button>
        <a href="{{ url_for('medico.consulta', id_consulta = consulta.id) }}" class='link-btn fazer-prescricao-btn'>Voltar</a>
    </div>
</section>
</form>  
{% endblock %}