
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif, monospace
}

:root{
    --primary-color: #F8FAFC;
    --secundary-color: #D9EAFD;
    --light-blue: #BCCCDC;
    --dark-blue: #9AA6B2;
}

body{
    background-color: var(--primary-color);
}

button {
    padding: 0.25rem;
}

input {
    text-align: start;
}

.navbar{
    background-color: var(--light-blue);
    height: 4rem;
}
.secao-consultas{
    padding: 1rem 10rem;
}
.secao-de-consultas{ 
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    box-shadow: -1px 0px 20px 1px var(--secundary-color);
    list-style: none;
    gap: 1rem;
}

.header-consulta-li{
    display: flex;
    padding: 1rem 1.25rem;
    /* border-bottom: 2px solid var(--light-blue); */
    font-size: 16px;
    font-weight: bold;
}

.card-consulta-li{
    display: flex;
    background-color: var(--light-blue);
    padding: 1rem 1.25rem;
    text-decoration: none;
    &:hover{
        transition: 0.3s;
        color: var(--primary-color);
        background-color: var(--dark-blue);
    }
}
.li span{
    width: 100%;
}

.card-consulta-btn{
    text-decoration: none;
    &:visited{
        color: inherit;
    }
}

.btn{ /* classe que define a aparência geral dos botões */
    padding: 0.75rem;
    font-size: 14px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: var(--light-blue);
    &:hover{
        transition: 0.3s;
        color: var(--primary-color);
        background-color: var(--dark-blue);
    }
}

.register-login-div{ /* div que engloba toda a tela de login-cadastro */
    background-color: var(--secundary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.register-login-form{ /* div que consiste o formulario de cadastro-login */
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding: 1.5rem 3rem;
    background-color: var(--primary-color);
    width: 21rem;
    text-align: center;
    border-radius: 2px;
    box-shadow: 5px 5px 15px 5px var(--light-blue);
}



.form-group{    /* div que organiza par label-input, atualmente não utilizada */
    display: flex;
    flex-direction: column;
}

.register-login-input{ /* classe que estiliza os inputs na tela de login-cadastro */
    background-color: transparent;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid var(--light-blue);

    &::placeholder{
        color: var(--dark-blue);
    }
    &:focus{
        outline: none;
    }
}



.register-login-redirect{ /* classe do link: já tem uma conta? Entre aqui */
    text-decoration: none;
    border: 0px solid var(--dark-blue);
    &:visited{
        color: inherit;
    }
    &:hover{
        transition: 0.3s;
        color: var(--dark-blue);
        text-decoration: underline;
    }
}
/* body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.login-div {
    padding: 2rem;
    margin: auto;
    max-width: 30rem;
    border: 0.05rem solid white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 60vh;
}

.login-form {
    font-size: 1rem;
    margin: 2rem;
}

#sistema-h1 {
    padding: 0.5rem;
    font-size: 2rem;
}

#login-h2 {
    padding: 0.5rem;
    font-size: 1.5rem;
}