{% extends "base/index.html" %}
{% block body %}
<section class="marcar-consulta-section">
    <form action="{{ url_for('paciente.marcar_consulta', id_medico=medico.id) }}" method="post" class="marcar-consulta-form">
        <h1>Escolha uma data e um horário disponíveis</h1>
        <h5>Médico: {{medico.nome}}</h5>
        <h5>Horários de atendimento: {% for horario in medico.horarios %}
            {{horario.horario}} 
            {% endfor %}
        </h5>
        <h5>Descrição:</h5>
        <textarea name="descricao-consulta" id="descricao-consulta"></textarea>
        <input type="datetime-local" name="marcar-consulta-date" id="marcar-consulta-date">
        <button type="submit" class="btn" id="marcar-consulta-btn">Marcar</button>
    </form>
</section>
{% endblock %}